body {
  background: #f6f6fa;
  padding: 40px, 40px, 40px, 40px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1250px;
  height: 100%;
  margin: 0 auto;
}

/* Main-content */

.main-content {
  display: flex;
  flex-direction:column;
  gap: 40px;
  padding: 80px 40px 40px 88px;
  box-sizing: border-box;
}

.my-descr-title,
.tech-skills-title,
.education-container-title,
.sidebar-title{
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 8px 0px;}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background: #e0ebfe;
  padding: 40px 0px 40px 0px;
  box-sizing: border-box;
  width: 370px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 0px 40px 0px 40px;
}

/* Contacts */

.contacts-tayp {
  color: #161d2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}

.contacts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.contacts-item {
  margin-top: 0px;
  margin-bottom: 8px;
}

/* Skills */

.skills-list {
  padding-left: 16px;
}

.skills-list-item {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* My info */

.my-name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 12px;
  padding: 0px;
}

.separatot{
  color: #6d9bf5 ;
}

.my-profession {
  color: #000;
  font-size: 26px;  
  font-weight: 700;
  margin: 0px 0px 12px 0px;
}

.birthday,
.location {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.my-birthday{
  margin: 0px 0px 8px 0px;
}

.my-location{
  margin: 0px 0px 12px 0px;
}

.my-descr {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}

/* Tech skills */
.tech-skills-item{
  color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
}

/* Education */

.education-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.education-title {
  color: #6d9bf5;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0px 0px 4px 0px;
}

.education-name {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 4px 0px;
}

.period{
  font-size: 14px;
  margin: 0;
  color: #242424;
}
